<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ionic4 to do</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openNewItemPage()">
        <ion-icon
          slot="icon-only"
          name="add"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item
      class="item"
      *ngFor="let tarefa of tarefaService.getItems()"
      (click)="goToItem(tarefa.id)"
    >
      <ion-label>{{ tarefa.title }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
