<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Nova tarefa</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form
    [formGroup]="newItemForm"
    (submit)="createItem(newItemForm.value)"
  >
    <ion-item>
      <ion-label
        color="primary"
        position="floating"
      >
        Title
      </ion-label>
      <ion-input
        id="titleInput"
        #titleInput
        type="text"
        formControlName="title"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label
        color="primary"
        position="floating"
      >
        Description
      </ion-label>
      <ion-input
        type="text"
        formControlName="description"
        required
      ></ion-input>
    </ion-item>

    <ion-button
      class="submit-btn"
      expand="block"
      type="submit"
      [disabled]="!newItemForm.valid"
    >
      Criar nova tarefa
    </ion-button>
  </form>

</ion-content>
