<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Atualizar Item</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <!-- Caso não existam itens, mostramos esta mensagem -->
  <ion-title *ngIf="!item">Item não encontrado!</ion-title>

  <!-- Caso existam, mostramos o form para atualização -->
  <form
    *ngIf="!!item"
    [formGroup]="editItemForm"
    (submit)="updateItem(editItemForm.value)"
  >
    <ion-item>
      <ion-label
        color="primary"
        position="floating"
      >
        Tarefa:
      </ion-label>
      <ion-input
        type="text"
        formControlName="title"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label
        color="primary"
        position="floating"
      >
        Descrição:
      </ion-label>
      <ion-input
        type="text"
        formControlName="description"
        required
      ></ion-input>
    </ion-item>

    <ion-button
      class="submit-btn"
      expand="block"
      type="submit"
      [disabled]="!editItemForm.valid"
    >
      Atualizar
    </ion-button>
  </form>
</ion-content>
